---
import Header from '@/components/Header/Header.astro';
import NavButton from '@/components/Header/NavButton.astro';
import NavMenu from '@/components/Header/NavMenu.astro';
import Layout from '@/layouts/Layout.astro';


---

<Layout title='Digit Alp'>

  <Header />
	<section class="w-full h-screen">

  </section>
</Layout>


