@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-var.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiguerSans';
  src: url('/assets/fonts/MiguerSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiguerSans';
  src: url('/assets/fonts/MiguerSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiguerSans';
  src: url('/assets/fonts/MiguerSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  @apply bg-da-white text-da-black overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title text-pretty leading-none;
}

p {
  @apply font-sans leading-normal opacity-85;
}

::selection {
  @apply bg-da-300 text-da-white;
}

::-moz-selection {
  @apply bg-da-300 text-da-white;
}

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --font-title: 'MiguerSans', 'sans-serif';

  --color-da: #0a2fa0;
  --color-da-50: #ecf0ff;
  --color-da-100: #dce1f4;
  --color-da-300: #3165cf;
  --color-da-white: #f5f7ff;
  --color-da-black: #000209;

  --shadow-hero-card: 0 40px 40px -10px #28224233;
}

/* Define styling for markdown content */
#mdContent h2 {
  @apply text-4xl md:text-5xl;
}

#mdContent h3 {
  @apply text-xl md:text-2xl;
}

#mdContent h4 {
  @apply text-lg md:text-xl;
}

#mdContent p {
  @apply text-lg text-balance font-light md:text-xl;
}

#mdContent a {
  @apply underline transition-colors duration-300 ease-in-out;

  &:hover {
    @apply text-da-300;
  }
}
