@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-var.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Miguer Sans';
  src: url('/assets/fonts/MiguerSans-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  @apply bg-da-white text-da-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title  text-pretty leading-none;
}

p {
  @apply font-sans text-balance leading-normal opacity-85;
}

::selection {
  @apply bg-da text-da-white;
}

::-moz-selection {
  @apply bg-da text-da-white;
}

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --font-title: 'Miguer Sans', 'sans-serif';

  --color-da: #0a2b8d;
  --color-da-white: #e9edff;
  --color-da-black: #030b24;
}
