---
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import Button from "@/components/ui/Button.astro";

import image from "@/assets/404.svg"


---

<Layout title="404 - Page non trouvée" metaTitle="404 - Page non trouvée" metaDescription="Page non trouvée">
  <div class="bg-da text-da-white w-screen h-screen flex flex-col gap-4 justify-center items-center">
    <Image src={image} alt="icon d'une erreur 404" class="w-48" />
    <h1 class="text-4xl md:text-5xl xl:text-7xl">Erreur 404</h1>
    <p class="text-center text-lg mb-6 text-balance">Il semblerait que la page que vous recherchez n'existe pas ou plus.</p>
    <Button label="Retournez à l'accueil" link="/" style="secondary" />
  </div>
</Layout>