---
// The goal of this file is to generate programatic seo
import { cities } from '@/data/agence-wordpress';

export async function getStaticPaths() {
  return cities.map((city) => ({
    params: { city },
  }));
}

const { city } = Astro.params;
---

<h1>Agence wordpress {city}</h1>