---
import PageLayout from "@/layouts/PageLayout.astro";
import ContactForm from "@/components/ui/ContactForm.astro";
---


<PageLayout
  title="Contactez-nous"
  description="Vous avez un projet à nous confier ? Vous souhaitez discuter de nouvelles opportunités digitales pour votre entreprise ou simplement optimiser vos solutions actuelles ?"
  theme="dark"
  metaTitle="Contacter l'agence web Digit'Alp | Chambéry & Grenoble"
  metaDescription="Utilisez notre formulaire ou nos liens sociaux pour nous joindre. Projets, questions, propositions. Nous vous recontacterons rapidement."
>
  <section class="container mx-auto space-y-10 px-4 py-10 md:space-y-20 md:px-0 md:py-10">
    <h2 class="text-4xl text-center md:text-5xl">Échangeons ensemble sur votre projet</h2>
    <div class="mb-20 md:w-1/2 md:mx-auto">
      <ContactForm />
    </div>
  </section>
</PageLayout>