---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Button from '@/components/ui/Button.astro';
import ServiceItem from '@/components/ServiceItem.astro';
import FeaturedWorks from '@/components/FeaturedWorks.astro';
import CtaBanner from '@/components/CtaBanner.astro';


const expertises = await getCollection('expertises');
const featuredWorks = await getCollection('works', entry => entry.data.isFeatured);
const clients = await getCollection('works')

---

<Layout title='Digit Alp'>
	<div class="w-screen h-screen text-da-white bg-da-black/40 bg-blend-darken bg-cover bg-center mx-auto" style="background-image : url(/assets/home-hero.webp)">

		<div class="relative w-screen max-w-[1920px] h-screen flex flex-col justify-end items-end gap-6 px-4 py-6 mx-auto  md:flex-row md:gap-4 md:p-12">
			<div class="md:w-3/5">
				<h1 class="opacity-0">Agence Web à Chambery</h1>
				<h2 class="text-4xl md:text-5xl xl:text-7xl">Constructeurs de sites web performants et durables</h2>
				<p class=" text-balance pt-4 text-lg">Micro agence web à Chambéry, nous vous accompagnons dans tous vos projets. Création, optimisation, sécurisation : ensemble développons des solutions digitales impactantes pour votre activité.</p>
			</div>
			
			<div class=" w-full md:w-2/5 md:flex md:justify-end">
				<Button label="J'ai un projet !" link='/contact' style="secondary" />
			</div>
		</div>
				

	</div> 

	<section class="container mx-auto w-full  px-4 py-10 space-y-6 md:py-20">
		<h2 class="hidden">Agence web savoyarde</h2>
		<div class="grid grid-cols-1 gap-4 mb-10 md:grid-cols-2 md:gap-0">
      <h3 class="text-4xl md:text-5xl">Une agence web aux multiples casquettes</h3>
      <p class="text-lg text-balance">Digit'Alp propose des services complémentaires pour vous accompagner dans la création ou le développement de votre présence digitale. Nous proposons des solutions sur mesure et performantes avec un regard vers l'avenir et l'éco-conception.</p>
  	</div>
		<ul class="grid grid-cols-1 gap-8  container mx-auto  md:gap-4 md:grid-cols-2">
			{expertises.map ( expertise => (
				<ServiceItem expertise={expertise} />
			))}
		</ul>
	</section>

	<FeaturedWorks featuredWorks={featuredWorks} title="Nos projets" subTitle="Nos clients, des projets uniques" />

	<section class="bg-da text-da-white">
		<div class="container flex flex-col items-center justify-center mx-auto w-full py-20 px-4">
			<h2 class="text-base text-da-300 leading-none uppercase ">Méthode de travail</h2>
			<p class="text-4xl text-center mb-4 font-title md:text-6xl">Une construction <em class="font-title">tech</em>, un regard <em class="font-title">design</em> et une réflexion <em class="font-title">marketing</em> pour chacun de nos clients.</p>
			<Button label="En savoir plus" link='/a-propos' style="secondary" />
		</div>
	</section>

	<section class="container mx-auto w-full px-4 py-20">
		<h3 class="text-4xl md:text-5xl mb-10">Ils nous font confiance <br/> pour leur projet web</h3>
		<ul class="grid grid-cols-2 gap-0.25 bg-da-100 md:grid-cols-5 md:w-4/5 md:mx-auto ">
			{clients.map ( client => (
				<li class="w-full flex items-center justify-center col-span-1 bg-da-white object-contain p-8">
					<Image src={client.data.logo} alt={`Logo ${client.data.client}`} class="" />
				</li>
			))}
		</ul>
	</section>

	<CtaBanner />

</Layout>
