---
import PageLayout from "@/layouts/PageLayout.astro";



---

<PageLayout title="Mentions légales" theme="dark">

  <section class="container mx-auto space-y-10 px-4 pb-40 pt-10 md:px-0">
    <div class="space-y-4">
      <h2 class="text-4xl text-da-300 md:text-5xl">Éditeur du site</h2>
      <h3 class="text-xl md:text-2xl">Digit'Alp</h3>
      <p>105 Rue François Descotes, <br/> Chambéry France</p>
      <a href="https://digit-alp.fr" aria-label="Lien vers le site de Digit'Alp" class="block">Site : https://digit-alp.fr</a>
      <a href="mailto:bonjour@digit-alp.fr" aria-label="Envoyer un mail à Digit Alp">Email : bonjour[at]digit-alp.fr</a>
    </div>
    <div class="space-y-4">
      <h2 class="text-4xl text-da-300 md:text-5xl">Réponsable éditorial</h2>
      <h3 class="text-xl md:text-2xl">Digit'Alp</h3>
      <a href="mailto:bonjour@digit-alp.fr" aria-label="Envoyer un mail à Digit Alp">Email : bonjour[at]digit-alp.fr</a>
    </div>
    <div class="space-y-4">
      <h2 class="text-4xl text-da-300 md:text-5xl">Hébergeur du site</h2>
      <h3 class="text-xl md:text-2xl">Hostinger International LTD</h3>
      <p>61 Lordou Vironos Street, 6023 Larnaca, Chypre</p>
      <a href="https://www.hostinger.fr/contact" target="_blank" aria-label="Lien vers le site de Hostinger">https://www.hostinger.fr/contact</a>
    </div>

  </section>
</PageLayout>
