---
import PageLayout from "@/layouts/PageLayout.astro";



---

<PageLayout 
  title="Politique de confidentialité" 
  theme="dark"
  metaTitle="Politique de confidentialité | Digit'Alp"
  metaDescription="Digit'Alp est une agence web basée à Chambéry en Savoie. Nous nous engageons dans le respect des normes européennes et de la vie privée sur notre site web."
>

  <section class="container mx-auto space-y-10 px-4 pb-40 pt-10 md:px-0">
    <div class="space-y-4">
      <p>Digit'Alp s’engage à ce que la collecte et le traitement de vos données, effectués à partir du site https://digit-alp.fr, soient conformes au règlement général sur la protection des données (RGPD) et à la loi informatique et Liberté.</p>
    </div>
    <div class="space-y-4">
      <h2 class="text-4xl text-da-300 md:text-5xl">Traitement des données à caractère personnel</h2>
      <p>La collecte de données par le formulaire de contact présent sur le site https://digit-alp.fr <br/>Nous collectons des données que vous nous fournissez par la soumission d’un message par notre formulaire de contact pour :</p>
      <h3 class="text-xl md:text-2xl">L’actualisation de fichiers de prospection</h3>
      <p>Conserver un historique des contacts effectués via le site https://digit-alp.fr <br/>
        Pour la soumission du formulaire de contact sur le présent site, nous vous demandons de renseigner obligatoirement votre adresse email.
      </p>
      <p>
        Les données personnelles recueillies par le formulaire de contact présent sur https://www.goodmotion.fr sont traitées selon des protocoles sécurisés et permettent à la ZMF Resources de gérer les demandes reçues dans ses applications informatiques.
      </p>
      <p>
        ZMF Resources s’engage à ne pas révéler à des tiers les informations personnelles que vous pourrez lui communiquer en utilisant le formulaire de contact.<br/>
        Celles-ci ne serviront que dans l’objectif d’apporter une réponse à vos demandes aussi efficacement que possible.<br/>
        Pour toute information ou exercice de vos droits informatique et Libertés sur les traitements de données personnelles gérés par la ZMF Resources, vous pouvez nous contacter :<br/>
      </p>
      <ul class="list-disc list-inside">
        <li>Par le formulaire de contact du site internet https://digit-alp.fr</li>
        <li>ou par courrier signé accompagné de la copie d’un titre d’identité à l’adresse suivante : Digit'Alp 105 rue François Descotes, 73000 Chambéry France</li>
      </ul>
    </div>
    <div class="space-y-4">
      <h2 class="text-4xl text-da-300 md:text-5xl">A propos des cookies</h2>
      <p>
        Actuellement aucun cookie n'est utilisé sur le site https://digit-alp.fr.
      </p>
    </div>
  </section>
</PageLayout>

<style>
  p {
    text-wrap-style: balance;
    opacity: 0.85;
  }

</style>