---
import { Image } from "astro:assets";
import NavButton from "./NavButton.astro";
import NavMenu from "./NavMenu.astro";

import logo from '../../assets/logo.svg';

---

<header class="absolute top-0 left-0 w-screen flex justify-between items-center px-4 py-6 z-50 md:py-10 md:px-12 ">

  <a href="/" class="" aria-label="Retourner à l'accueil">
    <Image src={logo} alt="Logo" class="w-28 md:w-36" />
  </a>

  <div class="relative z-9999">
    <NavButton />
    <NavMenu />
  </div>



</header>