---
import { Image } from "astro:assets";
import NavButton from "./NavButton.astro";
import NavMenu from "./NavMenu.astro";

import logo from '../../assets/logo.svg';
import logoBlack from '../../assets/logo_black.svg';

type Props = {
  theme: 'light' | 'dark';
}

const { theme } = Astro.props as Props;

const { pathname } = Astro.url;

---

<header class="absolute top-0 left-0 w-screen flex justify-between items-center px-4 py-6 z-50 animate-header-in md:py-10 md:px-12 ">

  <a href="/" class="" aria-label="Retourner à l'accueil">
    {theme === 'light' ? <Image src={logoBlack} alt="Logo" class="w-28 md:w-36" format="svg" /> : <Image src={logo} alt="Logo" class="w-28 md:w-36" format="svg" />}
  </a>

  <div class="relative z-9999">
    {theme === 'light' ?
     <NavButton theme="light" />
     <NavMenu theme="light" />
     :
     <NavButton theme="dark" />
     <NavMenu theme="dark" />
    }
  </div>



</header>