---
---

<div id="nav_menu" class="relative w-[480px] h-[650px] -top-6 -right-6 bg-da rounded-3xl transition-all duration-750 ease-[cubic-bezier(0.76,0,0.24,1)] aria-hidden:w-24 aria-hidden:h-10 aria-hidden:top-0 aria-hidden:right-0" aria-hidden="true"></div>