---
import { Image } from 'astro:assets';

import Button from './ui/Button.astro';

import ctaBannerIcon from '@/assets/cta_banner_icon.svg';

// TODO : Make the content dynamic for different pages
---

<section class="bg-da-black text-da-white">
  <div class="container flex flex-col items-center justify-center mx-auto w-full px-4 py-20">
    <Image src={ctaBannerIcon} alt="Icône de prise de rendez-vous" class="md:hidden" format='svg'/>
    <h3 class="text-4xl md:text-6xl mb-4 mt-4 md:mb-10 md:mt-0">Alors pourquoi pas vous ?</h3>
    <div class="flex flex-col gap-6 max-w-3xl md:flex-row md:gap-20">
      <Image src={ctaBannerIcon} alt="Icône de prise de rendez-vous" class="hidden md:block" format='svg'/>
      <div class="space-y-4">
        <p class="text-lg">
          Chaque projet est un nouveau défi : repenser votre site Internet, améliorer votre visibilité sur les moteurs de recherche, développer une solution pour votre activité... Discutons-en !
        </p>
        <Button label="Prendre rendez-vous" link='/contact' style="primary" />
      </div>
    </div>
  </div>
</section>
