---
import { Image } from "astro:assets";
import logo from '@/assets/logo.svg';

const currentYear = new Date().getFullYear();


---

<footer class="bg-da text-da-white  pt-20">
  <div class="container mx-auto px-4 md:px-0 xl:grid xl:grid-cols-4 xl:gap-8">
    <div class="space-y-8 flex flex-col justify-center xl:justify-start items-center xl:items-start">
      <a href="/" aria-label="Bouton de retour à l'accueil">
        <Image src={logo} alt="Logo" class="w-28 md:w-32" />
      </a>
    </div>
    <div class="mt-16 grid grid-cols-2 md:grid-cols-3 xl:col-span-3 xl:mt-0 xl:justify-items-end">
      <div>
        <h4 class="text-xl text-da-light">Liens utiles</h4>
        <ul class="font-normal text-da-primaryLight mt-8 space-y-4">
          <li><a href="/realisations" class="hover:text-da-white">Nos réalisations</a></li>
          <li><a href="/a-propos" class="hover:text-da-white">A propos</a></li>
          <li><a href="#" class="hover:text-da-white">Contact</a></li>
        </ul>
      </div>
      <div>
        <h4 class="text-xl text-da-light">Expertises</h4>
        <ul class="font-normal text-da-primaryLight mt-8 space-y-4">
          <li><a href="#" class="hover:text-da-white">Création de site web</a></li>
          <li><a href="#" class="hover:text-da-white">Développement personnalisé</a></li>
          <li><a href="#" class="hover:text-da-white">Référencement naturel</a></li>
          <li><a href="#" class="hover:text-da-white">Maintenance & Infogérance</a></li>
        </ul>
      </div>
      <div>
        <h4 class="text-xl text-da-light">Wordpress</h4>
        <ul class="font-normal text-da-primaryLight mt-8 space-y-4">
          <li><a href="#" class="hover:text-da-white">Site wordpress à Chambéry</a></li>
          <li><a href="#" class="hover:text-da-white">Site wordpress à Grenoble</a></li>
          <li><a href="#" class="hover:text-da-white">Site wordpress à Annecy</a></li>
          <li><a href="#" class="hover:text-da-white">Site wordpress à Genève</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container flex flex-col-reverse gap-4 items-center mt-16 py-8 text-xs text-da-light border-t mx-auto sm:flex-row sm:justify-between sm:items-start">
    <p class=" leading-5">{currentYear} &copy; Digit'Alp. Tous droits réservés.</p>
    <nav>
      <ul class="flex gap-4">
        <li class="hover:text-da-white"><a href="#">Mentions légales</a></li>
        <li class="hover:text-da-white"><a href="#">Politique de confidentialité</a></li>
        <li class="hover:text-da-white"><a href="#">Plan du site</a></li>
      </ul>
    </nav>
  </div>

</footer>