---
import { Image } from "astro:assets";

import WebdevIcon from '@/assets/creation_site_web.svg';


---

<li class="flex gap-6 items-center  px-12 py-8">
  <Image src={WebdevIcon} alt="Webdev" class="w-16 h-16 md:w-20 md:h-20" />
  <div class="space-y-2">
    <h3 class="text-2xl">Création de site web</h3>
    <p class="text-balance">Anim eu eiusmod incididunt proident aliqua sit sit laborum. Adipisicing ullamco do fugiat duis reprehenderit.</p>
    <a href="/creation-site-web" class="">Découvrir</a>
  </div>
</li>