---
import PageTitle from '@/components/PageTitle.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection, render } from 'astro:content';



export async function getStaticPaths() {
  const expertises = await getCollection("expertises");
  
  return expertises.map((expertise) => ({
    params: { id: expertise.id },
    props: { expertise },
  }));
}

const { expertise } = Astro.props;
const { Content } = await render(expertise)

const { title, description, icon } = expertise.data;


---

<Layout title={title}>
  <main class="px-4 md:px-0 bg-da-black text-da-white">
    <PageTitle title={title} description={description} />

    
  </main>
</Layout>
