---

import "../styles/global.css";

import Seo from "@/components/Seo.astro";
import Header from "@/components/Header/Header.astro";
import Footer from "../components/Footer.astro";
import Analytics from "@/components/Analytics.astro";

type Props = {
	title: string;
	metaTitle?: string;
	metaDescription: string;
	theme?: "light" | "dark";
}

const { title, metaTitle, metaDescription, theme = 'dark' } = Astro.props as Props;
---

<html lang="fr-FR">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<Seo title={title} metaTitle={metaTitle} metaDescription={metaDescription} />
		<Analytics />
	</head>
	<Header theme={theme} />
	<body>
		<slot />
	</body>
	<Footer />
</html>

