---
import PageTitle from "@/components/PageTitle.astro";
import Layout from "./Layout.astro";

type Props = {
  title: string;
  description: string;
  theme: 'light' | 'dark';
}

const { title, description, theme = 'light' } = Astro.props as Props;
---

<Layout title={title}>
  <main class={`px-4 md:px-0 ${theme === 'light' ? 'bg-da-white' : 'bg-da text-da-white'}`}>
    <PageTitle title={title} description={description} />
    <slot />
  </main>
</Layout>