---
import { getCollection } from 'astro:content';

import Card from '@/components/ui/Card.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import CtaBanner from '@/components/CtaBanner.astro';

const projects = await getCollection('projects');

const publishedProjects = projects.filter((project) => project.data.isPublished);
---

<PageLayout
  title="Projets"
  description="Découvrez une sélection des différents projets que nous avons pu réaliser pour des clients de différentes tailles et issus de divers secteurs. Chaque projet est unique et nos réalisations sont le fruit d'une collaboration étroite avec nos clients pour produire un résultat totalement aligné avec leurs attentes."
  theme="light"
  metaTitle="Exemples de projets web | Réalisations de l'agence Digit'Alp"
  metaDescription="Retrouvez une sélection d’accompagnements déjà réalisés pour des clients de différentes tailles et issus de divers secteurs : site web, e-commerce, développement, référencement naturel, maintenance."
>
  <section class="container mx-auto px-4 py-10 md:px-0 md:py-20">
    <ul class="grid grid-cols-1 gap-4 text-da-black md:grid-cols-2 lg:grid-cols-3">
      {publishedProjects.map((project) => (
        <Card project={project} />
      ))}
    </ul>
  </section>

  <CtaBanner />
</PageLayout>
