---

---

<button id="toggle_nav" aria-label="ouvre le menu mobile" aria-expanded="false" class="relative group w-8 h-6 z-50 pl-5 py-3 cursor-pointer">
  <span class="bg-da-white absolute top-0 right-0 left-0 h-[2px] transition-all duration-500 ease-in-out group-aria-expanded:-translate-x-full group-aria-expanded:opacity-0" />
  <span class="bg-da-white absolute top-1/2 right-0 w-3/4 h-[2px] transition-transform duration-300 delay-200 ease-in-out -translate-y-1/2 group-aria-expanded:-rotate-45" />
  <span class="bg-da-white absolute top-1/2 right-0 w-3/4 h-[2px] transition-transform duration-300 delay-200 ease-in-out -translate-y-1/2 group-aria-expanded:rotate-45" />
  <span class="bg-da-white absolute bottom-0 right-0 left-0 h-[2px] transition-all duration-500 ease-in-out group-aria-expanded:translate-x-full group-aria-expanded:opacity-0" />
</button>