---



---

<form
  action="https://api.web3forms.com/submit"
  method="POST"
  id="form"
  class="needs-validation flex flex-col items-center gap-6 md:w-1/2 md:mx-auto"
  data-astro-reload
  novalidate>
  
  <input type="hidden" name="access_key" value="df7e691a-2ad5-4878-9273-f09f508a73df" />
  
  <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
  <input type="hidden" name="subject" value="Nouvelle demande de contact via Digit'Alp">
  <div class="mb-5">
    <h3 class="text-lg text-center">Dîtes-nous en plus sur votre projet</h3>
  </div>
  <div class="grid grid-cols-2 gap-6 w-full">
    <input type="text" name="firstname" id="firstname" class="border border-da-white placeholder-da-white/75 placeholder:text-base rounded-lg px-6 py-4 w-full" placeholder="Prénom" required />
    <input type="text" name="lastname" id="lastname" class="border border-da-white placeholder-da-white/75 placeholder:text-base rounded-lg px-6 py-4 w-full" placeholder="Nom" required />
  </div>
  <div class="grid grid-cols-2 gap-6 w-full">
    <input type="email" name="email" id="email" class="border border-da-white placeholder-da-white/75 placeholder:text-base rounded-lg px-6 py-4 w-full" placeholder="Email" required />
    <input type="tel" name="phone" id="phone" class="border border-da-white placeholder-da-white/75 placeholder:text-base rounded-lg px-6 py-4 w-full" placeholder="Téléphone" required />
  </div>
  <textarea name="message" id="message" class="border border-da-white placeholder-da-white/75 placeholder:text-base rounded-lg px-6 py-4 w-full" placeholder="Décrivez-nous votre projet" rows="5" required></textarea>
    <button type="submit" class="group flex items-center font-medium  bg-da-white text-da-black px-6 py-4 gap-2 rounded-full cursor-pointer">
      <span>Envoyer ma demande</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" class="w-0 h-auto transition-all duration-300 ease-in-out group-hover:w-5"><path d="M21 12v3a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h7"/><path d="M16 3h5v5"/><path d="m16 8 5-5"/></svg>
    </button>


</form>