---

type Props = {
  label : string;
  url : string;
}

const { label, url } = Astro.props;


---

<a href={url} class="relative after:content-[''] after:absolute after:w-0 after:h-0.25 after:bg-da-white after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-1000 after:ease-[cubic-bezier(.215,.61,.355,1)]">
  {label}
  <slot />
</a>