---
import Burger from "./Burger.astro";



---

<div class="relative">
  <Burger />
  <nav id="menu_nav" aria-hidden="true" class="fixed inset-0 bg-da text-da-white font-title flex flex-col justify-center px-8  transition-transform duration-500 ease-in-out z-40 pointer-events-auto translate-y-0 aria-hidden:pointer-events-none aria-hidden:translate-y-full">
    <ul class="text-2xl space-y-4 md:text-5xl md:space-y-8">
      <li class=""><a href="/">Accueil</a></li>
      <li class="">
        <a href="/expertises">Expertises</a>
        <ul class="text-xl opacity-85 mt-4 pl-4 space-y-3 md:text-4xl md:space-y-6 md:mt-8 md:pl-8">
          <li class=""><a href="/realisations">Création de site web performant</a></li>
          <li class=""><a href="/realisations">E-commerce</a></li>
          <li class=""><a href="/realisations">Développement personnalisé</a></li>
          <li class=""><a href="/realisations">Référencement naturel</a></li>
          <li class=""><a href="/realisations">Maintenance & Infogérance</a></li>
        </ul>
      </li>
      <li class=""><a href="/realisations">Réalisations</a></li>
      <li class=""><a href="/a-propos">A propos</a></li>
      <li class=""><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>

<script>
const btnElem = document.getElementById("toggle_nav");
const menuElem = document.getElementById("menu_nav");


btnElem?.addEventListener("click", () => {
  const isExpanded = btnElem.getAttribute("aria-expanded") === "true";
  btnElem.setAttribute("aria-expanded", (!isExpanded).toString());
  menuElem?.setAttribute("aria-hidden", (isExpanded).toString());
  document.body.classList.toggle("overflow-hidden");
});
</script>

<style>

  #menu_nav[aria-hidden="false"] li {
    opacity: 0;
    animation: fadeIn 0.35s ease-out forwards;
  }

  #menu_nav[aria-hidden="false"] li:nth-child(1) {
  animation-delay: 0.3s;
  }

  #menu_nav[aria-hidden="false"] li:nth-child(2) {
    animation-delay: 0.4s;
  }

  #menu_nav[aria-hidden="false"] li:nth-child(3) {
    animation-delay: 0.5s;
  }

  #menu_nav[aria-hidden="false"] li:nth-child(4) {
    animation-delay: 0.6s;
  }

  #menu_nav[aria-hidden="false"] li:nth-child(5) {
    animation-delay: 0.7s;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

</style>
